<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" [<!ENTITY data SYSTEM "sharingParamsViatestng.xml">]>
<suite name="MyTestSuite" parallel="false" verbose="2">
    &data;
    <test name="MyTest">
        <classes>
            <class name="sharingParamsAcrossTestngSuites.ActualTest" />
        </classes>
    </test> 
</suite> 